{% extends "base.html" %}
{% block content %}
<style>
	body {
			background-image: url('https://t3.ftcdn.net/jpg/00/87/69/38/240_F_87693883_lA6YcoWtCHwDesWDPXhzk0ho7vPyI8dt.jpg');
			background-size: 80%;
			background-position: 180px 600px;
			background-repeat: no-repeat;
		}
</style>
<div class="container">
	<section class="hero">
		<h1>Thank You! Your Order is Dispensing</h1>
		<div class="cta">
		</div>
	</section>
</div>
<!--
<script>
	setTimeout(function() {
		window.location.href = "{{ url_for('home') }}";
	}, 10000); // 10 seconds
</script>
-->
{% endblock %}




