{% extends "base.html" %}
{% block content %}
<title>Product Page - Product 1</title>
<style>
	.product {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #f2f2f2;
		border-radius: 10px;
		padding: 20px;
		text-align: center;
	}

	.product img {
		width: 100%;
		max-width: 400px;
		height: auto;
		object-fit: cover;
		border-radius: 100px;
	}

	.product h3 {
		margin-top: 10px;
		margin-bottom: 5px;
		font-size: 24px;
		font-weight: bold;
	}

	.product p {
		margin: 0;
		font-size: 16px;
		color: #666;
		margin-bottom: 20px;
	}

	.quantity {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}

	.quantity label {
		font-size: 16px;
		margin-right: 10px;
	}

	.quantity input {
		width: 50px;
		height: 30px;
		text-align: center;
		font-size: 16px;
		border-radius: 5px;
		border: 1px solid #ccc;
	}

	.quantity button {
		background-color: #FF0000;
		color: #FFFFFF;
		padding: 10px 20px;
		border: 2px solid #FF0000;
		border-radius: 30px;
		font-size: 24px;
		font-weight: bold;
		margin: 0 10px;
		cursor: pointer;
		font-family: "Open Sans", sans-serif;
	}

	.quantity button:hover {
		background-color: #FFFFFF;
		color: #FF0000;
		border: 2px solid #FF0000;
	}


	.order-btn {
		display: block;
		margin-top: 20px;
		padding: 10px;
		background-color: #333;
		color: #fff;
		border-radius: 5px;
		text-decoration: none;
		font-size: 16px;
		font-weight: bold;
		transition: background-color 0.2s;
	}

	.order-btn:hover {
		background-color: #555;
		color: #fff;
	}
</style>
<body>
	<div class="product">
		<img src={{ url_for('static', filename=template_med.image_filename) }}
		alt="Product 1">
		<h3>{{ template_med.pill_function }}</h3>
		<p>{{ template_med.pill_per_dose }} Pills Per Dose</p>
		<div class="quantity">
			<button class="decrement">-</button>
			<input type="number" id="quantity" name="quantity" min="2"
				   value="2" step={{ template_med.pill_per_dose }} max="10">
			<button class="increment">+</button>
		</div>
		<div class="cta">
			<form method="post">
			{{ template_form.hidden_tag() }}
			<p><button class=".cta button">Submit Order</button></p>
			</form>
		</div>
	</div>
</body>
<script>
const quantityInput = document.getElementById('quantity');
const incrementBtn = document.querySelector('.increment');
const decrementBtn = document.querySelector('.decrement');

incrementBtn.addEventListener('click', function() {
  const currentValue = Number(quantityInput.value);
  const maxValue = Number(quantityInput.getAttribute('max'));
  if (currentValue < maxValue) {
    quantityInput.value = currentValue + Number(quantityInput.getAttribute('step'));
  }
});

decrementBtn.addEventListener('click', function() {
  const currentValue = Number(quantityInput.value);
  const minValue = Number(quantityInput.getAttribute('min'));
  if (currentValue > minValue) {
    quantityInput.value = currentValue - Number(quantityInput.getAttribute('step'));
  }
});
</script>
{% endblock %}